{% extends 'frontend/basic.twig'  %}

{% block content  %}
    <div class="clear"></div>
    <div class="wrap_content">

        <div>
            <h2>Благодарим Вас за заказ!</h2><br />
            <h3>Внимание! Все товары которые Вы оформили останутся у Вас в корзине до момента обработки администратора. Если Вы хотите заказать товар ещё, то предыдущий заказ будет перезатёртым!! </h3>
            <br />
            <h3>В скором времени мы поправим данный процесс.</h3>
        </div>

        <div class="order order_success"><a href="/">Главное меню</a></div><div class="clear"></div>
    </div>
{% endblock %}