{% extends 'frontend/basic.twig'  %}

{% block content  %}
    <div class="clear"></div>
    <div class="wrap_content">

        <div>
            <h2>Благодарим Вас за регистрацию!</h2><br />
            <br />

            <p>Добро пожаловать в свой «Личный кабинет». Теперь Вы сможете отслеживать статус выполнения заказа, экономить время на заполнение форм доставки при следующих покупках, создавать собственные списки желаний и публиковать отзывы.</p>

            <p>Почему делать покупки в интернет-магазине МТС удобно и выгодно?
            Невероятно большой ассортимент телефонов и аксессуаров!
            Вы получаете бонусные баллы за каждую покупку!
            Только у нас Вы можете приобрести телефоны МТС по очень привлекательной цене!</p>

        </div>

        <div class="enterFromSuccess"><a href="/login">Войти</a></div>
    </div>
{% endblock %}