
<footer>
    <div class="wrapper-footer">
        <div class="icon-footer">
            <div class="specialsIcon">
                <div class="specialsIcon-div1"><div class="first-icon"></div><div class="text-div1"><a href="#">Акции</a></div></div>
                <div class="specialsIcon-div1"><div class="second-icon"></div><div class="text-div1"><a href="#">Бесплатная доставка</a></div></div>
                <div class="specialsIcon-div1"><div class="third-icon"></div><div class="text-div1"><a href="#">Моментальный самовывоз</a></div></div>
                <div class="specialsIcon-div1"><div class="four-icon"></div><div class="text-div1"><a href="/stores">Адреса магазинов</a></div></div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="main-footer">
            <div class="podlogka"></div>
            <div class="wrapper-main-footer">
                <div class="nav-bottom-top">
                    <div class="nav-bottom-top-div1"><span class="iconBot iconBot1"></span><a href="#">Перейти на сайт МТС</a></div>
                    <div class="nav-bottom-top-div1"><span class="iconBot iconBot2"></span><a href="#">Корпоративным клиентам</a></div>
                    <div class="nav-bottom-top-div1"><span class="iconBot iconBot3"></span><a href="#">Статус заказа</a></div>
                    <div class="nav-bottom-top-div1"><span class="iconBot iconBot4"></span><a href="#">Обратная связь</a></div>
                    <div class="support"><span class="spravochnaya">Круглосуточная справочная</span><span class="spravochnaya-nomer"> 8 (800) 250 05 05</span></div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</footer>